// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big-picture{
	width: 100%;
}
#show-product-border{
	border: 1px solid #ccc;
}
#show-product-spacing{
	margin: 15px;
}
#carousel-example-generic{
	margin: auto;
	width: 800px;
}
