<div class="product-reviews">
    
        <div class="row">



            </p>
            <div class="rated" data-score="<%= comment.rating %>"></div>
            <p><%= comment.body %></p>

        </div>
    <% end %>
    <%= will_paginate @comments %>
</div>
